.card {
  background: black;
  border-radius: 3px;
  width: 250px;
  height: 150px;
  margin: 10px 85px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  overflow: hidden;
}

.img-container {
  overflow: hidden;
  text-align: center;
  margin: 0;
}
